<template>
    <div>
        <h1>Kansanvaltaa</h1>
        <p>Tämä on pieni harjoitus sovellus, joka käyttää seuraavia teknologioita</p>
        <ul>
            <li><a href="https://www.microsoft.com/net/core">.NET Core</a></li>
            <li><a href="https://vuejs.org/">Vue.js</a></li>
            <li><a href="https://webpack.github.io/">webpack</a></li>
            <li><a href="https://www.mongodb.com/">MongoDB</a></li>
        </ul>

        <p>Sovelluksen pohjadatana toimii <a href="http://avoindata.net">avoindata.net</a> palvelu, joka on suomalaisen avoimen
            datan tukisivusto. Sovelluksessa luodut kommentit on tallentuvat vain sovelluksen omaan tietokantaan.</p>
    </div>
</template>