<template>
    <div>
        <h1>Avoindata kysymykset</h1>

        <form class="form-inline">
            <p>Haku</p>
            <div class="form-group">
                <input v-model="searchFilter" type="text" class="form-control" placeholder="Otsikot">
            </div>
            <div class="form-group">
                <input v-model="selectedTags" type="text" class="form-control" placeholder="Tag">
            </div>
        </form>

        <p v-if="selectedTags.length == 0 && searchFilter.length == 0">Avoindatan kaikki {{ questions.length }} kysymystä:</p>
        <p v-if="selectedTags.length > 0 || searchFilter.length > 0">Näytetään {{questionTagFilter.length}} / {{ questions.length }} kysymystä:</p>

        <ul v-if="questions.length > 0 " class="list-group">
            <li v-for="item in questionTagFilter" :key="item.id" class="list-group-item">
                <div v-on:click="getQuestionInfo(item.id)" class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">Vastauksia: {{ item.answercount }}</div>
                            <div class="row"><span class="glyphicon glyphicon-eye-open"></span> {{ item.viewcount }}</div>
                            <div v-if="item.votes >= 0" class="row"><span class="glyphicon glyphicon-plus"></span><span v-if="item.votes < 0" class="glyphicon glyphicon-minus"></span>                                {{ item.votes }}</div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <strong>{{ item.title }}</strong>
                            </div>
                            <div v-if="item.userhandle" class="row"><span class="glyphicon glyphicon-user"></span> {{ item.userhandle }}</div>
                            <div class="row"><span class="glyphicon glyphicon-time"></span> {{ new Date(item.created * 1000).toUTCString()
                                }}
                            </div>
                            <div v-if="item.tags[0] != 'NULL'" class="row">
                                <span class="glyphicon glyphicon-tag"></span> <span v-for="tag in item.tags">{{ tag }} </span>
                            </div>
                        </div>
                    </div>
                    <div v-if="item.id == selectedQuestion" class="row answers-wrapper">
                        <strong>Vastaukset:</strong>
                        <div v-for="answer in item.answers" class="row answer-div">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="glyphicon glyphicon-time"></span> {{ new Date(answer.created * 1000).toUTCString()}}
                                    </div>
                                    <div class="col-md-4">
                                        <span v-if="answer.votes >= 0" class="glyphicon glyphicon-plus"></span><span v-if="answer.votes  < 0"
                                            class="glyphicon glyphicon-minus"></span> {{ answer.votes }}
                                    </div>
                                </div>
                                <p>{{ answer.content }}</p>
                            </div>
                        </div>
                        <div v-if="showAnswerField" class="row answer-div">
                            <div class="col-sm-6">
                                <strong>Vastaa:</strong>
                                <textarea v-model="userAnswer" class="form-control" rows="5"></textarea>
                                <button v-on:click="postQuestionAnswer(item.id)" type="submit" class="btn btn-default">Lähetä</button>
                            </div>

                        </div>

                    </div>
                </div>
            </li>
        </ul>

        <p v-else><em>Loading..</em></p>

    </div>
</template>

<script src="./questiondata.ts"></script>
<style src="./questiondata.css"></style>